@import url("https://fonts.googleapis.com/css?family=Merriweather");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}

.App {
  text-align: center;
}

.image-visibility-sensor {
  width: 100%;
  margin: auto;
  /*margin-top: 200px;*/
}

.image-container {
  position: relative;
  width: 80vw;
  height: 80vh;
  /*width: 100%;
  height: 100%;*/
  margin: auto;
  cursor: pointer;
  /*display: flex;
  flex-direction: column;*/
}

.image {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: black;
  background-position: center;
  background-size: cover;
  background-size: 100% auto;
  background-repeat: no-repeat;
  transition: all 0.3s;
}

.image-container:hover .image {
  transform: scale(1.25);
}

.image-container:hover .image-caption {
  color: white;
}

.focused {
  opacity: 1;
}

.blurred {
  opacity: 0.6;
  color: black;
}

.image-caption {
  color: black;
  position: absolute;
  padding-top: 10vh;
  text-align: left;
  font-family: "Merriweather", serif;
  font-size: 12px;
}

.image-story {
  color: white;
  margin-top: 160px;
  padding-left: 30%;
  padding-bottom: 200px;
  width: 40%;
  font-family: "Merriweather", serif;
  font-size: 24px;
}

/*image urls*/
.bg-0 {
  background-image: url(./assets/images/bg0.jpg);
}
.bg-1 {
  background-image: url(./assets/images/bg1.jpg);
}
.bg-2 {
  background-image: url(https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/23471954_2066325040262331_724211497049084082_n.jpg?oh=5a5950471b79a0e79dcabd669f90c923&oe=5A9BE5E6);
}
